<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blatantstubborn.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <activity android:name="com.blatantstubborn.app.MainActivity"></activity>
        <!-- android:value="ca-app-pub-6079782771327529~2312813041"/>-->


        <activity android:name="com.blatantstubborn.app.History" />
        <activity android:name="com.blatantstubborn.app.Remedies" />
        <activity android:name="com.blatantstubborn.app.YogaActivity" />
        <activity android:name="com.blatantstubborn.app.BeautyActivity" />
        <activity android:name="com.blatantstubborn.app.CarrierActivity" />
        <activity android:name="com.blatantstubborn.app.MeditationActivity" />
        <activity android:name="com.blatantstubborn.app.Spash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blatantstubborn.app.Main2Activity"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />


</manifest>